#title, #contents, #target_table {
    width: 375px;
}
#cricket {
    width: 150px;
}
div {
    border: 1px solid black;
}
#board {
    float:left;
}
#history {
    float:right;
}
#target {
    clear: both;
}
table, td, th {
    border-collapse: collapse;
    border:1px solid #333;
}
#target_table th {
    text-align:center;
}
#target_table td {
	width:16%;
    text-align:center;
}
#history td {
	width:33%;
}
